* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #666d89;
}

.wrapper {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

section {
  scroll-margin-top: 95px;
}

/* HEADER */

.header {
  position: sticky;
  top: 0px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  height: 95px;
  padding:  0 40px;

  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.header-logo {
  margin-top: 31.5px;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  color: #ffffff;
}

.header-logo span {
  color: #f06c64;
}

.navigation {
  display: flex;
  justify-content: space-between;

  width: 371px;

  list-style: none;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  color: #ffffff;
}

.navigation-item {
  cursor: pointer;
  color: #ffffff;
}

.navigation-active {
  color: #f06c64;
}

.circle {
	width: 2px;
	height: 2px;
	background: #494e62;
  border-radius: 50%;
  align-self: center;
  left:0px;
  top:0px;
}

.navigation-item:hover {
  text-decoration: underline;
}

/* SLIDER */

.slider {
  position: relative;

  height: 600px;
  padding:  0 40px;

  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.background-slide-2 {
  background-color: #648BF0;
  border-bottom: 6px solid #4e79ea;
}

.arrow-left {
  position: absolute;
  top: 281px;
  left: 42px;
  z-index: 1;
  cursor: pointer;
}

.arrow-left:hover {
  margin-left: -1px;
}

.arrow-right {
  transform: rotate(180deg);
  position: absolute;
  top: 281px;
  right: 40px;
  z-index: 1;
  cursor: pointer;
}

.arrow-right:hover {
  margin-right: -1px;
}

.iphone-ver {
  position: absolute;
  top: 9%;
  left: 7.7%;
}

.screen-ver {
  position: absolute;
  top: 19.4%;
  left: 8.8%;
  z-index: 1;
}

.button-ver {
  position: absolute;
  top: 77.5%;
  left: 16.8%;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

.iphone-hor {
  position: absolute;
  top: 29.3%;
  left: 41%;
}

.screen-hor {
  transform: rotate(90deg);
  position: absolute;
  top: 19%;
  left: 54.7%;
  z-index: 1;
}

.button-hor {
  position: absolute;
  top: 43.5%;
  left: 41.8%;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.three-iphones{
  margin: auto;
}

.slide-1 {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide-2 {
  display: flex;
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  animation: 0.5s ease-in-out;
  position: relative;
}

.slide-active, .slide-next {
  display: flex;
}

.slide-next {
  position: absolute;
  top: 0;
  left: 0;
}


.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

/* SERVICES */

.services {
  height: 500px;
  padding:  62px 40px 0;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.section-title {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1em;
  letter-spacing: -0.2px;
  word-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
}

.section-description {
  margin-top: 20.5px;
  height: 60px;

  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px;
  color: #767e9e;
  text-align: justify;
  overflow: hidden;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.services-layout {
  margin-top: 43px;
  margin-right: 1px;
}

.services-item {
  display: flex;
  align-items: flex-start;

  width: 300px;
  margin-bottom: 30px;
}

.service-img {
  margin-top: 3.5px;
}

.services-content {
  margin-left: 19px;
}

.services-title {
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: -0.2px;
}

.services-description {
  margin-top: 8px;
  width: 220px;
  height: 63px;

  font-size: 1.2rem;
  line-height: 21px;
  text-align: justify;
  color: #767e9e;
  letter-spacing: -0.1px;
  overflow: hidden;
}

/* PORTFOLIO */

.portfolio {
  height: 869px;
  padding: 62px 40px 0;

  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio-description{
  height: 30px;
}

.portfolio-tags {
  display: flex;
  margin-top: 11px;
  margin-left: 1px;
}

.tag {
  margin-right: 10px;
  padding: 2.5px 5.6px;

  font-size: 1.2rem;
  font-weight: 400;
  color: #767e9e;
  border: 1px solid #666d89;
  border-radius: 5px;
  cursor: pointer;
}

.tag-active {
  padding: 2.5px 6.5px;
  color: #dedede;
  border-color: #c5c5c5;
}

.tag:hover {
  color:  #dedede;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-layout {
  align-content: space-between;

  height: 601px;
  margin-top: 19px;
}

.portfolio-img {
  width: 220px;
  height: 187px;
  background-repeat: no-repeat;
}

.portfolio-img:nth-child(n+13) {
  display: none;
}

.portfolio-border {
  border: 5px solid #F06C64;
}

.portfolio-img:hover {
  cursor: pointer;
}

.portfolio-1 {
  background-image: url("assets/images/portfolio/portfolio1.png");
  background-position: -8px -11px;
}

.portfolio-2 {
  background-image: url("assets/images/portfolio/portfolio2.png");
  background-position: -82px -43px;
}

.portfolio-3 {
  background-image: url("assets/images/portfolio/portfolio3.png");
  background-position: -11px -1px;
}

.portfolio-4 {
  background-image: url("assets/images/portfolio/portfolio4.png");
  background-position: -24px -2px;
}

.portfolio-5 {
  background-image: url("assets/images/portfolio/portfolio5.png");
  background-position: -10px -16px;
}

.portfolio-6 {
  background-image: url("assets/images/portfolio/portfolio6.png");
  background-position: -16px -4px;
}

.portfolio-7 {
  background-image: url("assets/images/portfolio/portfolio7.png");
  background-position: -31px -39px;
}

.portfolio-8 {
  background-image: url("assets/images/portfolio/portfolio8.png");
  background-position: -24px -32px;
}

.portfolio-9 {
  background-image: url("assets/images/portfolio/portfolio9.png");
  background-position: -16px -2px;
}

.portfolio-10 {
  background-image: url("assets/images/portfolio/portfolio10.png");
  background-position: -141px -113px;
}

.portfolio-11 {
  background-image: url("assets/images/portfolio/portfolio11.png");
  background-position: -144px -175px;
}

.portfolio-12 {
  background-image: url("assets/images/portfolio/portfolio12.png");
  background-position: -36px -60px;
}

/* ABOUT US */

.about-us {
  height: 734px;
  padding: 62px 40px 0;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-layout {
  margin-top: 45px;
}

.employee {
  width: 300px;
}

.employee-photo {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.employee:nth-child(2) .employee-photo {
  margin-left: -1px;
}

.employee-name {
  margin-top: 15px;
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: -0.2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.employee-description {
  margin-top: 8px;

  font-size: 1.2rem;
  line-height: 21px;
  text-align: justify;
  color: #767e9e;
  letter-spacing: -0.06px;
  overflow: hidden;
}

.employee-contacts {
  display: flex;
  justify-content: space-between;
  width: 155px;
  margin-top: 23px;
}

.employee-contacts img:hover {
  margin-top: 1.5px;
  cursor: pointer;
}

.employee:nth-child(n+2) .employee-contacts {
  margin-left: -1px;
}

/* GET A QUOTE */

.get-quote {
  height: 654px;
  padding: 62px 40px 0;

  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.quote-title {
  color: #f0d8d9;
  word-spacing: 0;
}

.quote-description {
  color: #f0d8d9;
}

.layout-2-column {
  display: flex;
  justify-content: space-between;
}

.form-quote {
  margin-top: 44px;
}

.field-form {
  display: block;
  box-sizing: border-box;

  width: 619px;
  margin-bottom: 16px;
  padding: 11.5px 14.5px;
  border-radius: 5px;
  background-color: #d6564f;
  border: none;
  outline:none;

  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #f0d8d9;
  text-align: left;
}

.field-form::placeholder {
  color: #f48c8f;
}

.field-textarea {
  resize: none;
  height: 202px;
}

.field-submit {
  margin: auto;
  width: 80px;
  text-align: center;
  font-size: 1.6rem;
}

.field-submit:hover {
  cursor: pointer;
  color: #f48c8f;
}

.contact {
  margin-top: 42px;
  width: 300px;
}

.contact-title {
  font-size: 1.8rem;
  font-weight: 900;
  color: #f0d8d9;;
  letter-spacing: -0.18px;
  word-spacing: 0.85px;
  white-space: nowrap;
  overflow: hidden;
}

.contact-description {
  margin-top: 8px;

  font-size: 1.2rem;
  line-height: 21px;
  text-align: justify;
  color: #f0d8d9;
  letter-spacing: -0.06px;
  overflow: hidden;
}

.contact-link {
  display: inline;
  font-size: 1.2rem;
  color: #f0d8d9;
  letter-spacing: -0.06px;
}

.contact-link:hover {
  color: #f48c8f;
}

.address-contact {
  margin-top: 24px;
  margin-left: 3px;
}

.address-contact .contact-link {
  position: relative;
  bottom: 1px;
  margin-left: 10.5px;
}

.phone-contact {
  margin-top: 2px;
  margin-left: 1px;
}

.phone-contact .contact-link {
  position: relative;
  bottom: 1px;
  margin-left: 8.5px;
}

.mail-contact {
  margin-top: 3px;
  margin-left: 0px;
}

.mail-contact .contact-link {
  position: relative;
  bottom: 1px;
  margin-left: 7.5px;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;

  height: 76px;
  padding:  0 40px;

  background-color: #2d303a;
}

.copyright-footer {
  margin-left: 2px;
  margin-top: 30px;
  font-size: 1.2rem;
  letter-spacing: -0.15px
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  width: 155px;
  margin-right: -2px;
  margin-top: 21px;
}

.footer-contacts img:hover {
  margin-top: 1.5px;
  cursor: pointer;
}

/* MESSAGE */

.frame-message {
  display: flex;
  justify-content: center;
  align-items: center;

  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #0008;
  position: fixed;
}

.hidden {
  display: none;
}

.message {
  display: inline-block;
  text-align: justify;
  max-width: 50vw;
  min-width: 300px;
  background-color: #f6f8fa;
  padding: 20px 20px 5px 20px;
  border-radius: 10px;
}

.message p {
  margin-bottom: 10px;
}

.ok-btn {
  display: inline-block;
  padding: 0px 2px 0px 1px;
  border: 1px solid #666d89;
  border-radius: 4px;
  text-transform: uppercase;
}

.ok-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}
